@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">

    <h1 style="margin-top:2rem;margin-bottom:3rem;">@ViewData["Title"]</h1>

    <h5>There are no privacy policy rules.</h5>

</div>